/* import Open Sans font-family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-font-family {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Colors */
.color-dark-1 {
    color: #181818;
}

.color-dark-2 {
    color: #474747;
}

.color-dark-3 {
    color: #757575;
}

.bg-color {
    background-color: #FFF8F3;
}

/* Shared fonts */
.section-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-description {
    font-size: 18px;
    margin-bottom: 30px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-description {
    font-size: 16px;
}

/* Shared Buttons */
.btn-primary {
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}

/* header styles */
header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 3%, bottom right;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 50px 230px;
}

nav > h3 {
    font-size: 45px;
    font-weight: 800;
}

nav > h3 > span {
    color: #FD6E0A;
}

nav > ul {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav > ul > li > a,
nav > ul > li > a:visited {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 38px 0 230px;
}

.banner-content {
    max-width: 585px;
}

.banner-section > img {
    max-width: 584px;
}

.banner-content > h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-content > h1 {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;;
}

.banner-content > .btn-secondary {
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    background-color: transparent;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 18px 24px;
    margin-left: 30px;
}

/* main styles */
main > section {
    max-width: 1140px;
    margin: 130px auto;
}

/* about section */
.about-section {
    border-radius: 10px;
    padding: 131px 156px;
    text-align: center;
}

.about-content {
    background-color: white;
    border: 1px solid black;
}

table {
    width: 100%;
}

table > thead {
    font-size: 20px;
}

table > tbody {
    font-size: 20px;
    font-weight: bold;
}

/* skills section */
.skills-section {
    text-align: center;
}

.skills-section > p {
    margin: 30px 116px 50px;
}

.card-container {
    display: flex;
    gap: 24px;
}

.card {
    padding: 30px 33px;
    text-align: left;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}

.card > img {
    margin-bottom: 30px;
}

.card > h4 {
    margin-bottom: 20px;
}